// Fonts
$helvetica: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// Colors
$white: #FFF;
$black: #000;
$medium-grey: #8D8C8D;
$dark-grey: #484848;
$off-black: #1A191A;
$bg-color: #F8F8F8;
$bg-button: #2842E0;
$invalid-font: lighten(red, 20%);

// Dimensions
$input-padding: 30px;
$input-height: 40px;
$spacer: 20px;
